LANG="{{ locales }}"
LC_ALL="{{ locales }}"
LANGUAGE="{{ locales }}"
LC_NUMERIC="{{ locales }}"
LC_TIME="{{ locales }}"
LC_MONETARY="{{ locales }}"
LC_PAPER="{{ locales }}"
LC_IDENTIFICATION="{{ locales }}"
LC_NAME="{{ locales }}"
LC_ADDRESS="{{ locales }}"
LC_TELEPHONE="{{ locales }}"
LC_MEASUREMENT="{{ locales }}"
LC_CTYPE="{{ locales }}"