
PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=100
DebugLevel=3
EnableRemoteCommands=1
LogRemoteCommands=1
Server={{ zabbix_server }}
ListenPort=10050
ListenIP=0.0.0.0
StartAgents=3
ServerActive={{ zabbix_server }}
Hostname={{ zabbix_hostname }}
RefreshActiveChecks=120
BufferSend=5
BufferSize=100
MaxLinesPerSecond=100
Timeout=3
AllowRoot=1
User=zabbix
UnsafeUserParameters=0
LoadModulePath=${libdir}/modules
Include=/etc/zabbix/zabbix_agentd.d/*.conf
# Include=/usr/local/etc/zabbix_agentd.userparams.conf
# Include=/usr/local/etc/zabbix_agentd.conf.d/
# Include=/usr/local/etc/zabbix_agentd.conf.d/*.conf
# HostnameItem=system.hostname
# HostMetadata=
# HostMetadataItem=